.question_answerForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 30px 4px;
	padding: 50px;
	flex-wrap: wrap;
	margin: auto;
}

.container_Fields {
	display: flex;
	flex-direction: column;
	margin: 0.5rem;
}

.button_question {
	width: 200px;
	padding: 10px;
	border-radius: 4px;
	border-color: #eee;
	background-color: black;
	color: white;
	cursor: pointer;
}

.question_field {
	margin-bottom: 20px;
}

.question__question {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black !important;
}
@media (max-width: 400px) {
	.question_answerForm {
		box-shadow: none;
		text-align: center;
	}
}
