.header_container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 150px;
	background-color: black;
	top: 0;
	padding: 20px;
}
.title {
	font-weight: 500;
	font-size: 70px;
	color: white;
}

.header__button {
	text-align: end;
	margin-top: 5px;
	margin-right: 5px;
}

.button_login {
	width: 100px;
	padding: 10px;
	border-radius: 4px;
	border-color: #eee;
	background-color: black;
	color: white;
	cursor: pointer;
}

.button_logout {
	width: 100px;
	padding: 10px;
	border-radius: 4px;
	border-color: #eee;
	background-color: black;
	color: white;
	cursor: pointer;
}

@media (max-width: 500px) {
	.title {
		font-size: 50px;
	}
	.header_container {
		height: 50px;
	}
}
